*, *::after, *::before {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.hero {
    background-image: url('/assets/bg.png');
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1440px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    

}

.hero__content {
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 768px;
    
    justify-content: space-between;

}
.hero__logo {
    padding: 40px;
    width: 180px;
    height: auto;
    margin: 0 auto;
}
.hero__title {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    padding-top: 56px;
    letter-spacing: 6px;
    font-size: 56px;
    margin: 0;

}
.hero__subtitle {
    margin: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
.hero__scroll {
    margin-bottom: 70px;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    letter-spacing: 0.3em;
}
.nav-bar {
    border: 1px solid gray;
    width: 100%;
    max-width: 1440px;
    min-height: 65px;
    margin: 0 auto;
    align-content: center;
    margin-bottom: 56px;

}
.nav-bar__content{
    max-width: 968px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}
.nav-bar__logo {
    margin-left: 15px;

}
.nav-bar__items {
    display: flex;
    gap: 42px;
}
.nav-bar__item {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px;
    text-decoration: none;
    color: black;
    padding: 8px 0;
}
.nav-bar__item:hover {
    color: #00A4E5;
}
.story{
    margin-bottom: 82px;
}
.container{
    max-width: 941px;
    width: 100%;
    margin: 0 auto;
    
}
.story__title {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 12px;
    
}
.story__line{
    width: 50px;
    height: 2px;
    background-color: #16ACE8;
    margin: 10px auto;
    margin-bottom: 32px;
}
.story__inner {
    display: flex;
    justify-content: space-between;
}
.story__text{
    max-width: 400px;
    width: 100%;
}
.story__text h3{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: #48555B;
    margin-bottom: 24px;

}
.story__text p{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #48555B;
    line-height: 23px;
}
.story__text span{
    color: #16ACE8;
}
.story__pics{
    padding-top: 36px;
}
.story__pics ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    
}
.cap__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 74px;
}
.cap{
    margin-bottom: 63px;
}
.cap__inner p{
    max-width: 400px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    line-height: 19px;

}
.cap__title {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size:18px;
    color: #48555B;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cap__line {
    width: 50px;
    height: 2px;
    background-color: #16ACE8;
}
.services {
    text-decoration: none;
    color: white;
    background-color: #00A4E5;
    width: 150px;
    height: 40px;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size:14px;


}
.cap__cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.card {
    border: #48555B solid 1px;
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: 40px;
}
.card img {
    width: 70px;
    height: 75px;
    margin-bottom: 7px;

}
.card__title {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size:16px;
    color: #48555B;
    text-transform: uppercase;
    line-height: 24px;
}
.card__dis {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding-right: 15px;
}
.container--cc {
    margin-bottom: 14px;
    
}
.get__inner {
    background-image: url('../assets/bg3.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 134px;
    text-align: center;
    min-height: 602px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 12px;
    
    
}
.get {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 549px;

   
}
.get__text{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #48555B;
    line-height: 36px;
    max-width: 350px;
    
}
.get__btn {
    text-decoration: none;
    color: white;
    background-color: #00A4E5;
    width: 150px;
    height: 40px;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size:14px;
}
.sign {
    background-color: #171819;
    max-width: 1440px;
    margin: 0 auto;
}
.sign__inner{
    max-width: 685px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign__text{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    line-height: 36px;

}


.subscribe-form {
  display: flex;
  max-width: 400px;
  width: 100%;
  max-height: 40px;
  
}

.subscribe-form input {
  flex: 1;                /* занимает всё доступное место */
  padding: 12px 16px;
  border: none;    /* убираем двойную границу */
  outline: none;
}

.subscribe-form button {
  padding: 12px 50px;
  border: none;
  background: #00A4E5;
  color: white;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}
.footer {
    background-color: #141A20;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}




